.uiBoard {
    padding: 0.5rem;
    .board-nav {
    }
    .board-ad {
        margin: 0.5rem 0rem;
        .ad {
            cursor: pointer;
            padding: 1rem;
            border-radius: 0.2rem;
            background-color: $sj-tip-lower;
            transition: all 0.2s;
            color: $sj-tip-higher;
            font-size: 1.2rem;
            margin-right: 0.5rem;
            &:hover {
                background-color: $sj-tip;
                color: $sj-white;
            }
            img {
                width: 2rem;
                height: 2rem;
                margin-right: 0.5rem;
            }
        }
    }
    .board-mine {
        margin: 1rem;
        align-items: flex-start;
        div {
            margin-right: 0.5rem;
        }
    }
}
