.history-line {
  padding: 0.5rem;
  height: 100%;
  .line-nav {
    .common-btn {
      margin-right: 0.5rem;
    }
  }
  .line-content {
    height: 100%;
    overflow: auto;
    margin: 0.5rem 0rem;
    background-color: $common-tip-lower;
    .common-btn {
      margin: 0.2rem;
    }
  }
  .line-now {
    .common-btn {
      margin-right: 0.5rem;
    }
  }
}
