// # 提示
$common-tip-higher: #555555;
$common-tip: #999999;
$common-tip-lower: #eeeeee;

// # 通用
$common-white: #ffffff;
$common-black: #333333;

// # 处处有码 - 全局颜色设置
$common-main: #4caf51;
$common-main: #07c160;
$common-back: rgb(241, 241, 241);
