.page-login {
    height: 100%;
    .login {
        width: 55%;
        max-width: 1065px;
        background-color: $common-white;
        //
        .login-nav {
            padding: 2.86rem;
            .logo {
                img {
                    width: 2.86rem;
                    height: 2.86rem;
                    vertical-align: middle;
                }
                .logo-title {
                    cursor: default;
                    font-size: 1.6rem;
                    padding: 0px 10px;
                }
            }
        }
        //
        .login-content {
            cursor: default;
            // ** 1.首次使用 **
            .con-checkbox {
                width: 31.75rem;
                margin: 20px auto;
                border: 1px solid $common-tip-lower;
                padding: 1.875rem;
                position: relative;
                .con-checkbox-point {
                    position: absolute;
                    width: 1.3rem;
                    height: 1.3rem;
                    border-radius: 1.3rem;
                    border: 1px solid $common-tip-lower;
                }
                .common-input {
                    display: none;
                    margin-left: 2.3rem;
                    margin-top: 1rem;
                }
                .con-checkbox-line {
                    padding-left: 2.3rem;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    color: $common-tip;
                    &:nth-child(2) {
                        // 是 con-checkbox-line 而且 是父元素的第二个子元素
                        margin-bottom: 5px;
                        font-size: 1.3rem;
                        color: $common-black;
                    }
                }
                .common-btn {
                    display: none;
                    margin-left: 2.3rem;
                    margin-top: 1.3rem;
                }
            }
            .con-checkbox-on {
                border: 1px solid $common-main;
                .con-checkbox-point {
                    border: 0.4rem solid $common-main;
                }
                .common-input {
                    display: block;
                }
                .common-btn {
                    display: inline-block;
                }
            }
            // ** 2.手机号/验证码 **
            .con-form {
                width: 60%;
                margin: 0 auto;
                .con-form-title {
                    margin: 30px 0px;
                    font-size: 1.8rem;
                }
                .con-form-line {
                    margin: 20px 0px;
                    .line-name {
                        width: 10rem;
                        color: $common-tip-higher;
                    }
                    .common-input {
                        width: 100%;
                    }
                    .common-btn {
                        width: 100%;
                    }
                }
            }
            // ** 3.登录 **
            .con-login {
                #wx-img {
                    display: block;
                    width: 18rem;
                    height: 18rem;
                    margin: 0rem auto 1rem;
                    border: 1px solid $common-tip-lower;
                }
                .con-form {
                    width: 30%;
                    .login-tabbar {
                        color: $common-tip-higher;
                        padding: 1.5rem 1rem;
                        font-size: 1.2rem;
                        .bar {
                            cursor: pointer;
                        }
                        .bar-on {
                            color: $common-main;
                        }
                        .bar-line {
                            height: 1rem;
                            border-left: 1px solid $common-tip-lower;
                        }
                    }
                    .login-tip {
                        color: $common-tip;
                    }
                    .login-footer {
                        margin-top: 0.5rem;
                        padding-left: 1.5rem;
                        line-height: 1rem;
                        position: relative;
                        .footer-checkBox {
                            position: absolute;
                            left: 0rem;
                            border: 1px solid $common-tip-lower;
                            width: 1rem;
                            height: 1rem;
                        }
                        .footer-checkBox-on {
                            border: 1px solid $common-main;
                            border: 0.4rem solid $common-main;
                        }
                    }
                    .common-btn {
                        margin: 1rem 0rem 0.5rem;
                        width: 100%;
                    }
                    .common-input {
                        margin-bottom: 22px;
                    }
                }
            }
        }
    }
    .login-bottom {
        color: $common-tip;
        cursor: default;
        margin-top: 2rem;
    }
}
