// # 布局
.flex {
  display: flex;
}
.flex-x-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-middle-x {
  display: flex;
  justify-content: center;
}
.flex-middle-y {
  display: flex;
  align-items: center;
}
.flex-side {
  display: flex;
  justify-content: space-between;
}
.flex-no-side {
  display: flex;
  justify-content: space-around;
}

// # 常用属性设置
.common-shadow {
  box-shadow: 0px 0px 10px 2px #c0c0c0;
  // 参数解释: left top 扩散程度 宽度 颜色
}
.text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// # 常用组件设置
.common-link {
  color: $common-main !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.common-btn {
  display: inline-block;
  color: white;
  background-color: $common-main;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  border-radius: 0.19rem;
  border: 1px solid transparent;
  &:hover {
    background-color: white;
    color: $common-main;
    border: 1px solid $common-main;
  }
}

// ************************************ old ************************************
.form-btn {
  color: white;
  background-color: $common-main;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0px 10px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  border: 1px solid transparent;
  &:hover {
    background-color: white;
    color: $common-main;
    border: 1px solid $common-main;
  }
}
.form-btn-toggle {
  background-color: white;
  color: $common-main;
  border: 1px solid $common-main;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: $common-main;
    border: 1px solid transparent;
  }
}
.form-btn-blue {
  background-color: rgb(38, 132, 255);
  color: white;
  border: 1px solid transparent;
  &:hover {
    color: rgb(38, 132, 255);
    background-color: white;
    border: 1px solid rgb(38, 132, 255);
  }
}
.form-btn-grange {
  background-color: rgb(234, 167, 16);
  color: white;
  border: 1px solid transparent;
  &:hover {
    color: rgb(234, 167, 16);
    background-color: white;
    border: 1px solid rgb(234, 167, 16);
  }
}
.form-btn-red {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  &:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
  }
}
.red {
  color: red;
}
.green {
  color: $common-main;
}
.bc-red {
  background-color: red;
}
.bc-green {
  background-color: $common-main;
}
