* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  background-color: $common-back;
  -moz-user-select: none; /* 火狐 */
  -webkit-user-select: none; /* 谷歌 */
  -ms-user-select: none; /* IE */
  user-select: none;
}

// ################################################ 布局
.flex {
  display: flex;
}
.flex-x-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-y {
  display: flex;
  flex-direction: column;
}
.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-middle-x {
  display: flex;
  justify-content: center;
}
.flex-middle-y {
  display: flex;
  align-items: center;
}
.flex-side {
  display: flex;
  justify-content: space-between;
}
.flex-no-side {
  display: flex;
  justify-content: space-around;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

// ################################################ 常用属性设置
.common-shadow {
  box-shadow: 0px 0px 10px 2px #e2e2e2;
  // 参数解释: left top 扩散程度 宽度 颜色
}
.text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// ################################################ 动画
.fade-off {
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}
.fade-on {
  visibility: visible;
  opacity: 1;
}
.top-scroll-off {
  transition: all 0.2s;
  transform: translateY(-100%);
  opacity: 0;
}
.top-scroll-on {
  transform: translateY(100%);
  opacity: 1;
}

// ################################################ 常用组件 连接
// 连接
.common-link {
  display: inline;
  color: $common-main !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

// ################################################ 常用组件 按钮
// 按钮
.common-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  border-radius: 0.2rem;
  color: $common-white;
  border: 1px solid transparent;
  background-color: $common-main;
  &:hover {
    background-color: #05ab55;
  }
  img {
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 0.5rem;
  }
}
.toggle {
  color: $common-main;
  border: 1px solid $common-main;
  background-color: $common-white;
  &:hover {
    color: $common-white;
    background-color: $common-main;
  }
}
.tip {
  color: $common-tip;
  border: 1px solid $common-tip-lower;
  background-color: $common-white;
  &:hover {
    color: $common-main;
    border: 1px solid $common-main;
    background-color: $common-white;
  }
}
.tip-on {
  color: $common-main;
  border: 1px solid $common-main;
}
.red-on {
  color: $common-tip;
  border: 1px solid $common-tip;
  background-color: $common-white;
  &:hover {
    color: rgb(255, 80, 0);
    border: 1px solid rgb(255, 80, 0);
    background-color: $common-white;
  }
}
.red {
  color: $common-white;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  &:hover {
    color: $common-white;
    border: 1px solid rgb(255, 80, 0);
    background-color: rgb(255, 80, 0);
  }
}
.blue-on {
  color: $common-tip-higher;
  border: 1px solid $common-tip;
  background-color: $common-white;
  &:hover {
    color: rgb(0, 144, 255);
    border: 1px solid rgb(0, 144, 255);
    background-color: $common-white;
  }
}
.blue {
  color: $common-white;
  border: 1px solid rgb(0, 144, 255);
  background-color: rgb(0, 144, 255);
  &:hover {
    color: $common-white;
    border: 1px solid rgb(55, 115, 172);
    background-color: rgb(55, 115, 172);
  }
}
.orange-on {
  color: $common-tip;
  border: 1px solid $common-tip;
  background-color: $common-white;
  &:hover {
    color: rgb(255, 128, 0);
    border: 1px solid rgb(255, 128, 0);
    background-color: $common-white;
  }
}
.orange {
  color: $common-white;
  border: 1px solid rgb(255, 170, 32);
  background-color: rgb(255, 170, 32);
  &:hover {
    color: $common-white;
    border: 1px solid rgb(255, 128, 0);
    background-color: rgb(255, 128, 0);
  }
}
.pink-on {
  color: $common-tip;
  border: 1px solid $common-tip;
  background-color: $common-white;
  &:hover {
    color: rgb(255, 0, 160);
    border: 1px solid rgb(255, 0, 160);
    background-color: $common-white;
  }
}
.pink {
  color: $common-white;
  border: 1px solid rgb(255, 0, 160);
  background-color: rgb(255, 0, 160);
  &:hover {
    color: $common-white;
    border: 1px solid rgb(184, 0, 116);
    background-color: rgb(184, 0, 116);
  }
}
.disable {
  color: $common-tip;
  border: 1px solid $common-tip-lower;
  background-color: $common-white;
  &:hover {
    cursor: not-allowed;
    color: $common-tip;
    border: 1px solid $common-tip-lower;
    background-color: $common-white;
  }
}

// ################################################ 常用组件 居中板
// 居中板
.common-modal {
  // 居中板 - 灰色背景层
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;
  .common-modal-blank {
    // 居中板 - 内容层
    background-color: $common-white;
    width: 80%;
    max-height: 80%;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    .modal-title {
      // 1.内容层 - 顶部标题
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid $common-tip-lower;
      span {
        cursor: pointer;
      }
    }
    .modal-content {
      // 2.内容层 - 中央内容
      word-wrap: break-word;
      min-height: 6rem;
      padding: 1rem 1rem 0rem;
    }
    .modal-btns {
      padding: 1rem 1rem 0rem;
      display: flex;
      flex-direction: row-reverse;
      .common-btn {
        margin-left: 1rem;
      }
    }
  }
}
