// # 通用
$sj-white: #ffffff;
$sj-black: #333333;

// # 提示
$sj-tip-higher: rgb(177, 177, 177);
$sj-tip: rgb(197, 197, 197);
$sj-tip-lower: rgb(226, 226, 226);

// # 处处有码 - 全局颜色设置
$sj-main: #07c160;
$sj-back: rgb(241, 241, 241);
